<div class="row justify-content-center">

  <div class="col-sm-12 col-lg-6" id="heading">

<h2>Boulder Bike Tour </h2>
<h3>Rocky Mountains <br> Colorado</h3>
<h5>Save the date: April 1, 2020</h5>
<h5>Countdown:</h5>
</div>


<div id="race-date">
  <%= javascript_pack_tag 'timer' %>
</div>
<%= image_tag  "cy.jpg",class:"img-fluid rounded",alt:"cycling" %>
</div>
