// Place all the styles related to the bikers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#biker-view {
    background: #343A40;
    color: white;
}

h5 {
    color: white;
}
#divide-line {
    border-top: 2px dashed white;
}

