@import 'bootstrap/dist/css/bootstrap';

.card-img {
    max-width: 200px;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.nav-item {
    font-family: 'Roboto',sans-serif !important;
    font-size: 18px !important;
    padding: 16px !important;
}